/* 191443
That is the color of the background */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(40, 20, 67);
  color: #0da2dd;
  line-height: 1;
  text-align: center;
  padding: 40px;
}

h1 {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.Box {
  font-size: 1.2rem;
  color: #0da2dd;
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(255, 253, 253, 0.1);
}

.Box2 {
  font-size: 1.2rem;
  color: #0da2dd;
  margin: 0 auto;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(255, 253, 253, 0.1);
  line-height: 1.8;
  }
.zoom:hover{
  transform:scale(1.08);
}


.Tutorial {
  line-height: 1.8;
}

.frame {
  border:6px solid white;
  box-shadow:0 5px 15px rgb(0, 16, 247);               /*MY PROUDEST CREATION -pierre*/
}
